@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  /* cursor: none; */
}

.experience-container {
  position: relative;
}

.experience-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px; /* Adjust the width as needed */
  background-color: #000; /* Adjust the color as needed */
  transform: translateX(-50%);
}

/* Tailwind Styles */
@layer base {
  html {
      @apply bg-beige;
  }
}

.heading_text {
  @apply text-4xl text-dark_brown font-extrabold;
}